<div class="page">
    <div class="page-title">
        <h2>Topic</h2>
    </div>
    <div class="page-content">
        <div class="empty-area" *ngIf="topic.length == 0">
            <span class="pi pi-file-excel"></span>
            <p>No Topic</p>
            <small>Click add topic below to add the first topic</small>
            <button pButton icon="pi pi-plus" iconPos="left" label="Add Topic" class="p-button-rounded p-button-sm"
                routerLink="./create"></button>
        </div>
        <div *ngIf="topic && topic.length > 0">
            <div class="addnew-button-container">
                <button pButton icon="pi pi-plus" iconPos="left" label="Add Topic" class="p-button-rounded p-button-sm"
                    routerLink="./create"></button>
            </div>
            <p-table [value]="(topicService.$_topic | async) || []" [paginator]="true" [rows]="25"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-topic>
                    <tr>
                        <td>{{topic.id}}</td>
                        <td>{{topic.title}}</td>
                        <td>{{topic.category}}</td>
                        <td>
                            <div class="row-actions">
                                <button pButton icon="pi pi-eye" iconPos="left"
                                    class="p-button-rounded p-button-success p-button-sm"
                                    routerLink="./view/{{topic.id}}"></button>
                                <button pButton icon="pi pi-pencil" iconPos="left" class="p-button-rounded p-button-sm"
                                    routerLink="./edit/{{topic.id}}"></button>
                                <button pButton icon="pi pi-trash" iconPos="left" (click)="deleteTopic(topic.id)"
                                    class="p-button-rounded p-button-danger p-button-sm"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>