<div class="page">
    <div class="page-title">
        <h2>Characters</h2>
    </div>
    <div class="page-content">
        <div class="empty-area" *ngIf="characters.length == 0">
            <span class="pi pi-user-minus"></span>
            <p>No Characters</p>
            <small>Click add character below to add the first character</small>
            <button pButton icon="pi pi-plus" iconPos="left" label="Add Character" class="p-button-rounded p-button-sm"
                routerLink="./create"></button>
        </div>
        <div *ngIf="characters && characters.length > 0">
            <div class="addnew-button-container">
                <button pButton icon="pi pi-plus" iconPos="left" label="Add Character"
                    class="p-button-rounded p-button-sm" routerLink="./create"></button>
            </div>
            <p-table [value]="(characterService._Characters | async) || []" [paginator]="true" [rows]="25"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Nick Name</th>
                        <!-- <th>Intro</th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-character>
                    <tr>
                        <td>{{character.id}}</td>
                        <td>{{character.firstname + ' ' + character.lastname}}</td>
                        <td>{{character.nickname? character.nickname : 'ــــــ'}}</td>
                        <!-- <td>{{character.intro? character.intro : 'ــــــ'}}</td> -->
                        <td>
                            <div class="row-actions">
                                <button pButton icon="pi pi-eye" iconPos="left"
                                    class="p-button-rounded p-button-success p-button-sm"
                                    routerLink="./view/{{character.id}}"></button>
                                <button pButton icon="pi pi-pencil" iconPos="left" class="p-button-rounded p-button-sm"
                                    routerLink="./edit/{{character.id}}"></button>
                                <button pButton icon="pi pi-trash" iconPos="left"
                                    (click)="deleteCharacter(character.id)"
                                    class="p-button-rounded p-button-danger p-button-sm"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>