<div class="loader-container"
    *ngIf="loader.isLoading">
    <div class="loader">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<p-toast></p-toast>
<app-media-full-size *ngIf="UtilityService.isMediaShown"></app-media-full-size>

<div class="cplayout">
    <div class="header">
        <img src="../assets/images/logo.png"
            height="50"
            alt="">
    </div>
    <div class="body">
        <div class="sidebar">
            <div class="overlay"></div>
            <ul>
                <li>
                    <a routerLink='/characters'
                        routerLinkActive="active">
                        <span class="pi pi-users"></span>
                        Characters
                    </a>
                </li>
                <li>
                    <a routerLink='/media'
                        routerLinkActive="active">
                        <span class="pi pi-images"></span>
                        Media
                    </a>
                </li>
                <li>
                    <a routerLink='/news'
                        routerLinkActive="active">
                        <span class="pi pi-globe"></span>
                        News
                    </a>
                </li>
                <li>
                    <a routerLink='/tags'
                        routerLinkActive="active">
                        <span class="pi pi-tags"></span>
                        Tags
                    </a>
                </li>
                <li>
                    <a routerLink='/feedback'
                        routerLinkActive="active">
                        <span class="pi pi-comments"></span>
                        Feedbacks
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        <p>&copy; CopyRights Reserved @ {{currentYear}}</p>
        <ul>
            <li>
                <span class="pi pi-facebook"></span>
            </li>
            <li>
                <span class="pi pi-youtube"></span>
            </li>
            <li>
                <span class="pi pi-twitter"></span>
            </li>
        </ul>
    </div>
</div>